* {
  box-sizing: border-box;  /*limite les box à l'écran*/
} 

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
  padding: 2rem; 
  color: #333;
}

/*----------------------HEADER------------------*/

header {
  background-color: #1f1f1f;
  color: #f2f2f2;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  z-index: 1000;
}

  header p {
    color: white;
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
  }
 
  nav a {
    color: white;
    text-decoration: none;
    margin-left: 2rem;
    font-weight: bold;
    transition: color 0.3s;
  }

  nav a:hover {
    color: #4DD0E1;
  }


/*----------------------MAIN------------------*/
  main {
    width: 98%;
    margin: 0px auto 0 auto; /* espace pour header */
    background: white;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }


main section {
    margin: 10px auto 0 auto;
    width = 90%;
    max-width: 1200px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

section h3 {
color: #4DD0E1;
}


.dateSection {
  text-align: end;
  font-size: 0.8rem;
  color: #777;
  margin-top: 3rem;
  font-style: italic;
}

.separateur {
  border: none;
  border-top: 1px solid #ccc;  /* fine ligne grise claire */
  margin: 1rem auto;
  width: 80%;                  /* ajuste selon ton style */
}


/*----------------------Charpente------------------*/



/*----------------------Footer------------------*/

footer {
  padding: 0rem 2rem;
  background-color: white;
  border: solid black;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 12px; /* arrondi des coins */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* ombre externe */
}

footer p {
  text-align: right;
}

