* {
  box-sizing: border-box;
} /*limite les box à l'écran*/

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
  padding: 2rem; 
  color: #333;
}

/*----------------------HEADER------------------*/

header {
  background-color: #1f1f1f;
  /* background: linear-gradient(135deg, #c471ed, #f64f59); */
  color: #f2f2f2;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  z-index: 1000;
}

  header p {
    color: white;
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
  }
 
  nav a {
    color: white;
    text-decoration: none;
    margin-left: 2rem;
    font-weight: bold;
    transition: color 0.3s;
  }

  nav a:hover {
    color: #a0f0ed;
  }


/*----------------------MAIN------------------*/
  main {
    width: 98%;
    margin: 0px auto 0 auto; /* espace pour header */
    background: white;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

/*----------------------These------------------*/
main section {
margin: 10px auto 0 auto;
}

.intro {
  display: flex;
  align-items: center;
  margin-top: 20px; /* espace sous header fixe */
  margin-bottom: 20px;
  width = 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  gap: 8rem;
}

.texte-gauche {
  flex: 2;
}

.texte-gauche h2 {
  margin-top: 0;
}

section h3 {
color: #4DD0E1;
}

.texte-gauche p{
  font-size: 1rem;
}

.image-these {
  display: block;
  margin: 100px auto 2rem auto; /* espace sous header */
  width: 200px; /* ou autre taille */
  height: auto;
  border-radius: 20px; /* coins arrondis */
  box-shadow: 0 4px 12px rgba(0,0,0,0.3); /* optionnel : ombre douce */
  flex : 1;
}

.separateur {
  border: none;
  border-top: 1px solid #ccc;  /* fine ligne grise claire */
  margin: 3rem auto;
  width: 80%;                  /* ajuste selon ton style */
}

/*----------------------Basel problem and boy surface------------------*/

.basel {
  width = 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: white;
}

.boy {
  width = 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: white;
}



/*----------------------Footer------------------*/

footer {
  padding: 0rem 2rem;
  background-color: white;
  border: solid black;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 12px; /* arrondi des coins */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* ombre externe */
}

footer p {
  text-align: right;
}

