* {
  box-sizing: border-box;  /*limite les box à l'écran*/
}

@media (max-width: 768px) {
  html{
    font-size: 8px;
  }
}

/*-------peut utile
img, iframe, table, div {
  max-width: 100%;
  height: auto;
}
----------*/

body {
  font-family: Arial, sans-serif;
  background: white;
  margin: 0;
  color: #333;
}

/*----------------------HEADER------------------*/

header {
  background-color: #1f1f1f;
  color: #f2f2f2;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

header p {
  color: white;
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 2rem;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #4DD0E1;
}

header img {
  height: 1.5rem;
  transition: transform 0.2s ease; /* effet fluide */
}

header img:hover {
  transform: scale(1.2); /* agrandissement à 120 % */
}

.bouton{
  position: fixed;
  background-color: #000000;
  color: white;
  padding: .5rem .7rem;
  border-radius: 15%;
  text-decoration: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.bouton.up{
  bottom: 0px;
  right: 0px;
}

.bouton.home{
  bottom: 0px;
  left: 0px;
}

.img_button{
  width: 3rem;
}

/*----------------------MAIN------------------*/
main {
  width: 100%;
  max-width: 1000px;
  margin: 0rem auto;
  padding: 4rem 0;
  font-size: 1rem;
  background: white;
  text-align: justify;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3); 
}

section {
  margin: 0 auto;
  padding: 2rem;
  width: 90%;
  max-width: 900px; /*Evite de s'etendre si on dezoom*/ 
}

section h2{
  margin-top: 3rem;
}

section h3 {
  color: #4DD0E1;
}

.dateSection {
  text-align: end;
  font-size: 0.8rem;
  color: #777;
  margin-top: 4rem;
  font-style: italic;
}

.separateur {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1rem auto 4rem;
  width: 80%;         
}


/*----------------------MENU BLOG------------------*/

.articles-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* espace entre les éléments */
}

.articles-list a{
  text-decoration: none;
  color: #333;
}

article {
  height: 12rem;
  width: 40rem;
  display: flex; /* image à coté de la descirption*/
  align-items: baseline;
  gap: 1rem;
  border: 1px solid #98989c;
  border-radius: 6px;
  padding: 1rem;
  background-color: #fff;
}

article:hover {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3); 
}

.article-thumb {
  width: 8rem;   /* conserve les proportions */
  height: auto;       /* largeur maximale */
  margin: auto;
  object-fit: cover;    /*crop pour ajuster*/
  /*display: block;         /* supprime l’espacement inline par défaut */
  border-radius: 6px;     /* coins arrondis (optionnel) */
}

.article_desc{
  margin: auto;
}

article h3 {
  font-size: 1.2rem;
  padding-left: 1rem;
  vertical-align: middle;
}

article p{
  text-align: end;
  font-style: italic;
  font-size: .8rem;
  margin-bottom: 0;
}

/*----------------------Fez------------------*/
.horizontalFlex {
  display: flex;
  align-items: center;
  margin: 0 auto 1rem;
  gap: 4rem;
}

@media (max-width: 760px) {
  .horizontalFlex {
    flex-wrap: wrap;
  }
}

.container-texte {
  flex: 1.3;
}

.container-image{
  text-align: center;
	flex: 1;
}

.coins-arrondis {
  width: 100%;
  height: auto;
  border-radius: 20px; /* coins arrondis */
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3); /* optionnel : ombre douce */
}

.texte-encadre {
  padding: 5px;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  background-color: white;
  border-radius: 20px; /* coins arrondis */
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.cont-image-centree{
  margin: 1rem auto;
  text-align: center;
  max-width: 30%; /*ou 350px*/
}

figcaption{
  font-size: .8rem;
  text-align: center;
  font-style: italic;
  color: #666;
  margin-top: 0.5em;
}

/*--------------Genealogie-------------*/

.decorativeG-image {
  position: absolute;
  width: 20%;  /*ou 20%*/
  height:auto;
}

.decorativeD-image {
  position: absolute;
  right: 0;
  width: 20%;
  height: auto;
}

#genea .horizontalFlex{
 justify-content: space-evenly;
 gap: 2rem;
}

.vintage-frame {
  padding: 1rem; /*épaisseur du cadre*/
  background-color: #e4d5ab; /* ton papier vieilli */
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.vintage-frame img {
  height: 16rem;
  width: 100%;
  border: .3rem solid #fff;
}

.vintage-frame .photo {
  height: 16rem;
  width: auto;
  border: .3rem solid #fff;
}



/*----------------------Footer------------------*/

footer {
  width: 80%;
  margin: 0 auto;
  padding: 0rem 2rem;
  background-color: white;
  border: solid rgb(59, 59, 59);
  border-radius: 12px; /* arrondi des coins */
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3); /* ombre externe */
}

footer p {
  text-align: right;
}
