* {
  box-sizing: border-box;  /*limite les box à l'écran*/
} 

body {
  font-family: Arial, sans-serif;
  background: white;
  padding: 3rem; 
  color: #333;
}

/*----------------------HEADER------------------*/

header {
  background-color: #1f1f1f;
  color: #f2f2f2;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

header p {
  color: white;
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 2rem;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #4DD0E1;
}


.bouton-retour {
  position: fixed;
  bottom: 10px;
  right: 15px;
  background-color: #333;
  color: white;
  padding: 10px 12px;
  border-radius: 25%;
  text-decoration: none;
  font-size: 18px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}


/*----------------------MAIN------------------*/
main {
  margin: 0 10px; /*pour que ca colle avec les angles du footer*/
  margin-bottom: 0px;/*pour que ca touche le footer*/
  background: white;
  padding: .5rem;/* espace pour header */
  text-align: justify;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3); 
}


section {
  margin: 10px auto ;
  width: 90%;
  max-width: 2000px; /*Evite de s'etendre si on dezoom*/ 
  margin-top: 5rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

section h3 {
  color: #4DD0E1;
}

.dateSection {
  text-align: end;
  font-size: 0.8rem;
  color: #777;
  margin-top: 3rem;
  font-style: italic;
}

.separateur {
  border: none;
  border-top: 1px solid #ccc;  /* fine ligne grise claire */
  margin: 1rem auto;
  width: 80%;                  /* ajuste selon ton style */
}


/*----------------------Game------------------*/

.horizontalFlex {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  gap: 4rem;  /*remettre 4 à la fin*/
}

.container-texte {
  flex: 2;
}

.container-image{
	flex: 1;
}

.image {
  width: 100%;
  height: auto;            /* ← garde les proportions naturelles */
  border-radius: 20px; /* coins arrondis */
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3); /* optionnel : ombre douce */
}

.texte-encadre {
  padding: 5px;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  border-radius: 20px; /* coins arrondis */
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.cont-image-centree{
  margin: 1rem auto;
  text-align: center;
  max-width: 30%;
}

.cont-image-centree .image {
  box-shadow: 0 0 8px 3px #ae800a; /* optionnel : ombre douce */
}

figcaption {
  text-align: center;
  font-style: italic;
  color: #666;
  margin-top: 0.5em;
}


/*----------------------Footer------------------*/

footer {
  padding: 0rem 2rem;
  background-color: white;
  border: solid black;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 12px; /* arrondi des coins */
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3); /* ombre externe */
}

footer p {
  text-align: right;
}

